@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

table {
    width: 95%;
    border-collapse: separate;
    border-spacing: 0 20px;
    margin: 0 auto;
    table-layout: fixed;
    
}

@media (min-width: 768px) {
    tr {
        border: none;
    }

    table {
        width: 100%;
        margin: 0;
        border-collapse: collapse;
        border-spacing: 0 0;
    }
}

th,
td {
    padding: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    

}
td, p{
    white-space: normal; /* Permite saltos de línea */
    word-wrap: break-word; /* Rompe palabras largas */
    overflow-wrap: break-word; /* Compatibilidad adicional */
}
p{
    white-space: normal; /* Permite saltos de línea */
    word-wrap: break-word; /* Rompe palabras largas */
}

@media (min-width: 768px) {

    tr {
        border-bottom: 1px solid #ddd;
    }

    th,
    td {
        padding: 0 0;
        display: table-cell;
        white-space: normal; /* Permite saltos de línea */
        word-wrap: break-word; /* Rompe palabras largas */
    }

    td {
        padding: 0 0.25rem;
        white-space: normal; /* Permite saltos de línea */
        word-wrap: break-word; /* Rompe palabras largas */
    }
}

th {
    padding: 0.8rem 0;
    background-color: rgb(229 231 235);
    display: none;
}

@media (min-width: 768px) {
    table{
        table-layout: auto;
    }
    th {
        display: table-cell;
    }
}

tbody {
    margin: auto;
    justify-content: center;
}

thead th:first-child {
    border-top-left-radius: 0.25rem;
}

thead th:last-child {
    border-top-right-radius: 0.25rem;
}

.actions {
    padding: 0.75rem 0;
    display: flex;
}
